{% extends "base.html.twig" %}

{% block Copter %}


<body>


	<!-- favoris page -->
	<div class="privacy">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Mes commandes
				
			</h3>
			<!-- //tittle heading -->
			<div class="checkout-right">

			{% if order | length >0 %}
				<div class="table-responsive">
					<table class="timetable_sub">
						<thead>
							<tr>
								
								<th>Numero de commande</th>
								
								<th> Date de commande</th>

                                <th> Somme</th>
							</tr>
						</thead>
						
							<tr>
							{% for item in order %}
								

								<td class="invert">{{item.idorder}}</td>
								<td class="invert">{{item.dateOrder|date('d-m-Y')}}</td>
                                <td class="invert">{{item.prixttc}} €</td>
								
								
							</tr>
								{% endfor %}
						
							
							
							
							</table>
	
						</tbody>
					</table>
				</div>
				{% else %}
			<p>Aucune commande faites </p>
			{% endif %}
			<br>
		

		</div>

		

		

	</div>
	
	<script src="js/jquery-2.1.4.min.js"></script>
	<!-- //jquery -->

	
	

	

	<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
	<!-- //js-files -->

</body>

</html>

{% endblock %}